<div class="root">
  <ng-container *ngIf="layout.rows">
    <ng-container [ngTemplateOutlet]="rows" [ngTemplateOutletContext]="layout">
    </ng-container>
  </ng-container>
  <ng-container *ngIf="layout.columns">
    <ng-container [ngTemplateOutlet]="columns" [ngTemplateOutletContext]="layout">
    </ng-container>
  </ng-container>
</div>

<ng-template #rows let-rows="rows">
  <div class="rows">
    <div *ngFor="let row of rows" class="container-column">
      <ng-container *ngIf="row.rows">
        <ng-container [ngTemplateOutlet]="rows" [ngTemplateOutletContext]="{rows: row.rows}">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="row.columns">
        <ng-container [ngTemplateOutlet]="columns" [ngTemplateOutletContext]="{columns: row.columns}">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="row.widget">
        <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{item: row.widget}"></ng-template>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #columns let-columns="columns">
  <div class="columns">
    <div *ngFor="let column of columns" class="container-row">
      <ng-container *ngIf="column.rows">
        <ng-container [ngTemplateOutlet]="rows" [ngTemplateOutletContext]="{rows: column.rows}">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="column.columns">
        <ng-container [ngTemplateOutlet]="columns" [ngTemplateOutletContext]="{columns: column.columns}">
        </ng-container>
      </ng-container>
      <ng-container *ngIf="column.widget">
        <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{item: column.widget}"></ng-template>
      </ng-container>
    </div>
  </div>
</ng-template>
