.widget {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    justify-content: center;
    min-height: 100px;
    width: 300px;    
}

.root {
    display: flex;
}

.rows {
    display: flex;
    flex-direction: column;
}

.columns {
    display: flex;
    flex-direction: row;
}

.container-row {
    display: flex;
    margin-right: 12px;
}

.container-column {
    display: flex;
    margin-bottom: 12px;
}