.widget {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    justify-content: center;
    min-height: 100px;
    width: 300px;    
}

.root {
    display: flex;
    flex: 1;
}

.rows {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.columns {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.container-row {
    // border: 1px solid rgba(0, 0, 255, .3);
    display: flex;
    margin-right: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 50px;
    min-width: 100px;
}

.container-column {
    // border: 1px solid rgba(0, 255, 0, .3);
    display: flex;
    margin-bottom: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 50px;
    min-width: 100px;
}